.HouseImage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  width: 50%;
  height: 50%;
  border: 20px solid black;
  border-radius: 60px;
  flex: 50%;
  overflow: hidden;
}
.HouseImage img {
  margin: 8px;
  padding: 0 4px;
}

.houses {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  /* flex-flow: row wrap;
  justify-content: space-around;
  align-items: center; */
}

.card-title {
  color: black;
  text-align: rtl;
}

.card-text {
  color: black;
}
