body {
  background-color: #000;
  background: url(http://getwallpapers.com/wallpaper/full/3/e/8/455428.jpg);
  height: 100%;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

/* This is the header with image and triangle */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-header {
  width: 100%;
  height: 100vh;
  /* background: url(http://getwallpapers.com/wallpaper/full/3/e/8/455428.jpg)
    center center / cover no-repeat; */
  position: relative;
}

.main-hipster-triangle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hipster-triangle {
  position: absolute;
  transform: rotate(180deg) translateX(20px);
}

.triangle,
.circle,
.line {
  fill: transparent;
  stroke: white;
  stroke-width: 9;
}

p {
  color: black;
  text-align: left;
  font-size: 18px;
  font: bold;
  font-family: "Papyrus, fantasy", "Gill Sans MT", "Trebuchet MS", sans-serif;
  padding: auto;
  width: fit-content;
}

.paragraph {
  background-color: #669999;
  color: black;
  text-align: left;
  font-size: 10px;
  font: bold;
  font-family: "Papyrus, fantasy", "Gill Sans MT", "Trebuchet MS", sans-serif;
  padding: auto;
  width: fit-content;
  border-radius: 30px;
}

.houses.card.HouseImage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  width: 20px;
  height: auto;
  border: 1px solid black;
  border-radius: 5px;
}

.subtitle {
  color: black;
  text-align: left;
  font-size: 20px;
  font: bold;
  text-decoration: underline;
  text-decoration-style: double;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: auto;
  width: fit-content;
}
.title {
  color: blueviolet;
  font-size: 25px;
}

/* Button CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* end of button CSS */

/* This is the cards position  */
.column-container {
  display: flex;
  flex-direction: row;
}
.column {
  flex: 1;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  width: 20px;
  height: auto;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px;
}

/* This is the sorting hat image and text  */
@font-face {
  font-family: "Harry Potter";
  src: url("https://cdn2.hubspot.net/hubfs/678613/Projects/Harry%20Potter%20Battle%20Game/ParryHotter.ttf")
    format("truetype");
}
h1 {
  color: black;
  font-family: "Harry Potter";
  font-size: 40px;
  text-align: center;
}
.sorting-hat {
  position: absolute;
  top: 260%;
  left: 20%;
  width: 400px;
  height: auto;
  margin-top: 350px;
  margin-left: 250px;
  text-align: center;
}

.sorting-hat img {
  height: auto;
  width: 100%;
}

.sorting-hat p {
  color: #fff;
  text-align: center;
}

.background {
  /* width: 100%; */
  height: 100vh;
  background: url(http://getwallpapers.com/wallpaper/full/3/e/8/455428.jpg)
    no-repeat center center;
  /* position: relative; */
  background-size: cover;
}
