body {
  background-color: #00a676;
}

p {
  color: black;
}
.navbar {
  background-color: #a76d60;
  color: black;
  padding: 0.5em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  display: flex;
}

.paragraph {
  background-color: #931200;
}

img.HouseImage {
  width: 200px;
  height: 200px;
}

.card-title {
  color: black;
}

.houses {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
