body {
  background-color: #463832;
}

p {
  color: black;
  text-align: left;
  font-size: 18px;
  font: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: auto;
  width: fit-content;
}

.paragraph {
  background-color: #c38b8b;
  color: black;
  text-align: left;
  font-size: 10px;
  font: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: auto;
  width: fit-content;
  border-radius: 30px;
}

.houses.card.HouseImage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  width: 20px;
  height: auto;
  border: 1px solid black;
  border-radius: 5px;
}

.subtitle {
  color: black;
  text-align: left;
  font-size: 20px;
  font: bold;
  text-decoration: underline;
  text-decoration-style: double;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: auto;
  width: fit-content;
}
.title {
  color: blueviolet;
  font-size: 25px;
}

/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.column-container {
  display: flex;
  flex-direction: row;
}
.column {
  flex: 1;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  width: 20px;
  height: auto;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px;
}
