main {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* body {
  background-color: #e3e3e3;
  /* background: url(http://getwallpapers.com/wallpaper/full/3/e/8/455428.jpg); 
} */
/* 
.main-header {
  width: 100%;
  height: 100vh;
  background: url(http://getwallpapers.com/wallpaper/full/3/e/8/455428.jpg)
    center center / cover no-repeat;
  position: relative;
} */

/* .main-hipster-triangle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .hipster-triangle {
  position: absolute;
  transform: rotate(180deg) translateX(20px);
} */
/* 
.triangle,
.circle,
.line {
  fill: transparent;
  stroke: white;
  stroke-width: 9;
}  */
